# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.FirstProject.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Code\Unreal Engine\Udemy\FirstProject\.idea\.idea.FirstProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
